.message-container {
    width: 300px;
    height: 300px;
    border: solid 1px grey;
    padding: 10px;
}

.message {
    padding: 5px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    background-color: rgb(167, 247, 220);
    margin: 5px;
}